#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 20px auto;
    text-align: center;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about{
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(244,242,199);
    height: auto;
    width: auto;
    padding: 20px;
}

body{
    background-color:  rgb(206,206,206);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Monospace;
}

#card{
    height: auto;
    width: auto;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(244,242,199);
}

#card > img{
    height: 230px;
    width: 710px;
}

#card > h2 {
    color: rgb(119,164,206);
}

header{
    display: flex;
    flex-direction: column;
    background-color: rgb(144,185,255);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header > nav {
    background-color: rgb(240,226,142);
    padding-left: 50px;
    padding-right: 50px;
}

nav > form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header > h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.btn{
    margin-top: 10px;
}

footer{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

/* for mobile device view */

@media (max-width: 600px){
    header > h1{
        text-align: center;
        font-size: 50px;
    }

    #container{
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #card > img{
        height: auto;
        width: 100%;
    }
}