{% extends 'layout.html' %}
{% block main %}
    <div id="container">
        <div id="about">
            <h4>This is a News website made with Flask. It's uses <a href="https://newsapi.org/">newsapi.org</a> to get a news. See <a href="https://github.com/Ranajit08/The_News">GitHub</a> for source code.</h4>
            <p><strong>Author: </strong>Ranajit Mitra</p>
            <p><strong>Github: </strong><a href="https://github.com/Ranajit08/">https://github.com/Ranajit08/</a></p>
            <p><strong>Linkdin: </strong><a href="https://www.linkedin.com/in/ranajit-mitra-1bb0342b2/">https://www.linkedin.com/in/ranajit-mitra-1bb0342b2/</a></p>
        </div>
    </div>

{% endblock %}