{% extends 'layout.html' %}
{% block main %}
        <div id="container">
            {% for page in json %}
                <div id="card">
                    <h2>{{ page.title }}</h2>
                    <h5>{{ page.description }}</h5>
                    <p>Author: {{ page.author }}</p>
                    {% if page.urlToImage and page.source.name %}
                        <img src="{{ page.urlToImage }}" alt="{{ page.source.name }}">
                    {% endif %}
                    <a href="{{ page.url }}" class="btn btn-primary">Read Article</a></p>
                </div>
            {% endfor %}
        </div>
{% endblock %}